GiaB_*.vcf.gz*
GiaB_*regions.bed
inputs/GiaB_*.vcf.gz*
inputs/GiaB_*regions.bed
inputs/*.chain
inputs/giab*bed
inputs/synthetic_*
sv_crossmap_hg38
crossmap_grch38
liftover_grch38
remap_grch38*
source_split_grch37
bcbio_calls
debug_fps
giab-hg38-validation-results
